Repository input-output-hk/io-sim, pull requests merged in 2024-10, with the labels that each got.

#175 Improve `show` of `ScheduleMod`
  io-sim/CHANGELOG.md
  io-sim/src/Control/Monad/IOSimPOR/Types.hs
Labels: IOSimPOR

#176 Implement `MonadLabelledMVar`
  io-classes/CHANGELOG.md
  io-classes/src/Control/Concurrent/Class/MonadMVar.hs
  io-sim/CHANGELOG.md
  io-sim/src/Control/Monad/IOSim/STM.hs
  io-sim/src/Control/Monad/IOSim/Types.hs
Labels: enhancement

#192 Added transformer instances for MonadInspectSTM and MonadTraceSTM
  io-classes/CHANGELOG.md
  io-classes/mtl/Control/Monad/Class/MonadSTM/Trans.hs
  io-classes/src/Control/Monad/Class/MonadSTM/Internal.hs
Labels: io-classes
